.col-xs-12 {
    text-align: center;
}

.switchContainer {
    clear:all;
    display: inline-block;
    vertical-align: middle;
    margin-left: 45px;
}

#title {
    color:white;
    vertical-align: middle;
    display:inline-block;
    font-size: 25pt;
}
